apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: NAMESPACE_PLACEHOLDER

resources:
  - manifests/secret-store.yaml
  - vault-approle-secret.yaml

patches:
  - target:
      kind: SecretStore
      name: vault-backend
    patch: |-
      - op: replace
        path: /spec/provider/vault/auth/appRole/roleId
        value: APPROLE_ROLE_ID_PLACEHOLDER
